<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Page1</title>
</head>
<body>
    <%PhotosCount%>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                Size
            </td>
            <td>
                Resolution
            </td>
        </tr>
        <%foreach photo in photos%>
            <tr>
                <td>
                    <%photo.name%>
                </td>
                <td>
                    <%photo.size%>
                </td>
                <td>
                    <%photo.resolution%>
                </td>
            </tr>
        <%endforeach%>
    </table>
    Hello World!
</body>
</html>